@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <style>
    nav {
        background-color: rgb(16, 137, 211); /* Updated background color */
        color: #fff;
        padding: 10px;
        border-bottom: 2px solid #eee;
    }

        nav button {
            color: #fff !important; /* Updated text color */
            margin-right: 20px;
            text-decoration: none;
            transition: transform 0.3s ease, color 0.3s ease; /* Added color transition */
            padding: 5px;
        }

        nav a {
            color: #fff !important; /* Updated text color */
            margin-right: 20px;
            text-decoration: none;
            transition: transform 0.3s ease, color 0.3s ease; /* Added color transition */
            padding: 5px;
        }

            nav a:hover {
                transform: scale(1.1);
            }

            nav button:hover {
                transform: scale(1.1);
            }
    </style>


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
