@model ReportProblemModel

<style>
    h2 {
        text-align: center;
        color: #2ecc71; 
    }

    .submitted-message {
        text-align: center;
        color: #3498db; 
        font-size: 18px;
        margin-top: 20px;
    }
</style>
<br />
<br />
<br />
<br />
<br />
<h2>Thank you for reporting the problem!</h2>
<div class="submitted-message">
    We appreciate your feedback. Our team will review the information, and we will get back to you shortly.
</div>
