@model ReportProblemModel

<style>
    body {
        background-color: #f2f2f2;
        background: url('https://img.freepik.com/premium-photo/abstract-white-minimalistic-architectural-interior-with-window-3d-illustration-rendering_689904-5387.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699747200&semt=ais') no-repeat center center fixed;
        background-size: cover;
        margin: 0; 
        display: flex;
        flex-direction: column;
        color: #000000; 
    }
</style>

<style>
    h2 {
        text-align: center;
        color: #2ecc71; 
    }

    .submitted-message {
        text-align: center;
        color: #3498db; 
        font-size: 18px;
        margin-top: 20px;
    }
</style>
<br />
<br />
<br />
<br />
<br />
<h2>Thank you for reporting the problem!</h2>
<div class="submitted-message">
    We appreciate your feedback. Our team will review the information, and we will get back to you shortly.
</div>
