@model ReportProblemModel

<style>
    body {
        background-color: #f2f2f2;
        background: url('https://img.freepik.com/premium-photo/abstract-white-minimalistic-architectural-interior-with-window-3d-illustration-rendering_689904-5387.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699747200&semt=ais') no-repeat center center fixed;
        background-size: cover;
        margin: 0; 
        display: flex;
        flex-direction: column;
        color: #000000; 
    }
</style>

<style>
    .heading {
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        color: rgb(16, 220, 100);
    }

    .heading2 {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        color: rgb(16, 137, 211);
    }
</style>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    <h2 class="heading">Thank you for reporting the problem!</h2>
    <div class="heading2">
        We appreciate your feedback. Our team will review the information, and we will get back to you shortly.
    </div>
</div>

