@model List<AnnouncementModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Announcements</h2>
<br /><br />
<ul class="announcement-list">
    @foreach (var announcement in Model)
    {
        <li>
            <p><strong>@announcement.Title</strong>
                <span style="margin-right: 10px;"></span>
                <small>@announcement.DatePosted.ToString("MMMM dd, yyyy")</small></p>
            <p>@announcement.Content</p>
        </li>
    }
</ul>
