@model Bills

<br />
<h2>Create New Bill</h2><br />

<style>
    body {
        background-color: #f2f2f2;
        background: url('https://img.freepik.com/premium-photo/abstract-white-interior-highlights-future-architectural-background-3d-illustration-rendering_689904-142276.jpg') no-repeat center center fixed;
        background-size: cover;
        margin: 0; 
        display: flex;
        flex-direction: column;
        color: #000000; 
    }
</style>

<style>

    h2 {
        text-align: center;
    }

    form {
        display: grid;
        gap: 10px;
        max-width: 400px;
        margin: auto;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input,
    textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        resize: none;
    }

        textarea[name="Content"] {
            resize: none;
            height: 100px; 
        }



    button {
        padding: 10px;
    }
</style>

@using (Html.BeginForm("Create", "Bills", FormMethod.Post))
{
    <div>
        <label>Bill Type:</label>
        <input asp-for="BillType" />
    </div>

    <div>
        <label>Amount:</label>
        <input asp-for="Amount" />
    </div>

    <div>
        <label>Due date:</label>
        <input asp-for="DueDate" />
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Create Bill</button>
}