@{
    ViewData["Title"] = "Welcome";
}

<style>
    body {
        background-color: #f2f2f2;
        text-align: center;
        background: url('https://4kwallpapers.com/images/walls/thumbs_3t/6640.jpg') no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overlay-content {
        width: 60%;
        max-width: 800px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        z-index: 1;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.5em;
        max-width: 600px;
        margin: 0 auto 20px;
    }

    .heading {
        text-align: center;
        font-weight: 700;
        font-size: 60px;
        color: white;
    }

    .heading2 {
        text-align: center;
        font-weight: 120;
        font-size: 30px;
        color: white;
    }

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        nav a {
            color: white;
            text-decoration: none;
        }

</style>

<div class="overlay">
    <div class="overlay-content">
        <h1 class="heading">Welcome to eStavba</h1><br />
        <p class="heading2">Your go-to platform for all things related to building management and community living.</p>
        <p class="heading2">Explore our features and services to make your community living experience better!</p>
    </div>
</div>

