@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<style>
    body {
        background-color: #f2f2f2;
        background: url('https://img.freepik.com/premium-photo/abstract-white-interior-highlights-future-architectural-background-3d-illustration-rendering_689904-142276.jpg') no-repeat center center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        color: #000000; 
    }
</style>

<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    #account {
        max-width: 500px;
    }

    .text-container {
        margin-bottom: 20px;
    }

    .heading {
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        color: rgb(16, 137, 211);
    }

    .heading2 {
        text-align: center;
        font-weight: 900;
        font-size: 20px;
        color: rgb(16, 137, 211);
    }
</style>

<div class="login-container">
    <div id="account">
        <div class="text-container">
            <h1 class="heading">@ViewData["Title"]</h1>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
    </div>
</div>