@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    body {
        background-color: #f2f2f2;
        background: url('https://img.freepik.com/premium-photo/abstract-white-interior-highlights-future-architectural-background-3d-illustration-rendering_689904-142276.jpg') no-repeat center center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        color: #000000; 
    }
</style>

<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    #account {
        max-width: 500px;
    }

    .form-container {
        margin-bottom: 20px;
    }

    .form-floating {
        margin-bottom: 15px;
    }

    .button-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .external-login-container {
        margin-top: 20px;
    }
</style>

<div class="login-container">
    <div id="account">
        <div class="text-container">
            <h1 class="text-center">@ViewData["Title"]</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="form-container">
                    <form method="post">
                        <h2 class="text-center">Enter your email.</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="button-container">
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
