@model ForumThreadModel

@{
    ViewData["Title"] = "Create New Thread";
}

<br />
<h2>Create New Thread</h2>
<br />

<style>
    body {
        background-color: #f2f2f2;
        background: url('https://img.freepik.com/premium-photo/white-background-with-white-background-black-text-that-says-white_689904-124037.jpg?w=740') no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        display: flex;
        flex-direction: column;
        color: #000000;
    }
</style>

<style>

    h2 {
        text-align: center;
    }

    form {
        display: grid;
        gap: 10px;
        max-width: 400px;
        margin: auto;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input,
    textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        resize: none;
    }

        textarea[name="Content"] {
            resize: none;
            height: 100px;
        }



    button {
        padding: 10px;
    }
</style>

@using (Html.BeginForm("Create", "ForumControllerMain", FormMethod.Post))
{
<div>
    <label>Title:</label>
    <input asp-for="Title" />
</div>

<div>
    <label>Content:</label>
    <textarea asp-for="Content"></textarea>
</div>

<button type="submit" class="btn btn-primary">Create Thread</button>
}